@model IEnumerable<Distro2.Areas.Identity.Data.Distro2User>

@{
    ViewData["Title"] = "Inbox";
}

<h1>Inbox - Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-action="Inbox" asp-route-id="@item.UserName">View Messages</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table>
    Totalt messages: @ViewBag.totalMessages |  
    Read messages: @ViewBag.ReadMessages |
    Deleted messages: @ViewBag.NrOfDeletions 
</table>
